@use 'ngx-tethys/styles/variables.scss';

.context-menu {
    .remove-record {
        &:hover {
            .thy-icon {
                color: variables.$danger;
            }
            color: variables.$danger !important;
        }
    }
    .thy-input-number {
        width: 76px;
    }
}
