<div class="d-flex align-items-center mt-5">
    <input thyInput [(ngModel)]="roomId" [disabled]="!!tableService.provider" placeholder="请输入房间号" style="width: 300px" />
    <a
        thyAction
        class="ml-2"
        [thyIcon]="tableService.provider ? 'unlink-insert' : 'link-insert'"
        href="javascript:;"
        (click)="handleShared()"
        >{{ tableService.provider ? '断开连接' : '连接协同' }}</a
    >
</div>
<thy-tabs [thyExtra]="extra" (thyActiveTabChange)="activeTabChange($event)" [thyActiveTab]="tableService.activeViewId()">
    @for (item of tableService.views(); let index = $index; track $index) {
        <thy-tab [thyTitle]="item.name" [id]="item._id">
            @if (item._id === tableService.activeViewId()) {
                <ng-template #title>
                    @if (isEdit) {
                        <input
                            thyAutofocus
                            thyInput
                            [ngModel]="item.name"
                            (thyEnter)="updateValue()"
                            (blur)="updateValue()"
                            (ngModelChange)="nameChange($event)"
                        />
                    } @else {
                        <p class="mb-0">
                            <span> {{ item.name }} </span>
                            <a thySize="xxs" thyAction class="ml-1" thyIcon="more" [thyDropdown]="menu" href="javascript:;"></a>
                        </p>
                    }
                </ng-template>
                <router-outlet></router-outlet>
            } @else {
                <ng-template #title>
                    <span> {{ item.name }} </span>
                </ng-template>
            }
        </thy-tab>
    }
</thy-tabs>

<thy-dropdown-menu #menu>
    <a thyDropdownMenuItem href="javascript:;" (click)="updateEditStatus()">
        <span>重命名</span>
    </a>
    <a thyDropdownMenuItem href="javascript:;" (click)="addView('copy')">
        <span>复制</span>
    </a>
    <a thyDropdownMenuItem href="javascript:;" (click)="removeView()">
        <span>删除</span>
    </a>
</thy-dropdown-menu>

<ng-template #extra>
    <thy-action thyIcon="plus" class="cursor-pointer" (click)="addView('add')"></thy-action>
</ng-template>
