@if (tableService.activeView()) {
    <div (mousedown)="prevent($event)">
        <thy-segment
            class="mb-2 mr-2"
            [thySize]="'md'"
            thyMode="inline"
            [thyActiveIndex]="renderMode"
            (thySelectChange)="changeRenderMode($event)"
        >
            <thy-segment-item thyValue="1" thyIcon="list">Canvas</thy-segment-item>
            <thy-segment-item thyValue="2" thyIcon="paperclip">DOM</thy-segment-item>
        </thy-segment>
        <a thyAction class="mb-2" thyIcon="trash" href="javascript:;" (click)="removeRecord()">删除行</a>
        <a thyAction class="mb-2" thyIcon="move" href="javascript:;" (click)="moveRecord()">移动选中行到第三行</a>
        <a thyAction class="mb-2" thyIcon="move" href="javascript:;" (click)="moveField()">移动选中列到第三列</a>
    </div>
    <div class="table-content">
        @switch (renderMode()) {
            @case (1) {
                <ai-table-grid
                    [(aiRecords)]="tableService.records"
                    [(aiFields)]="tableService.fields"
                    [aiFieldConfig]="aiFieldConfig"
                    [aiPlugins]="plugins"
                    [aiReferences]="references()"
                    (onChange)="onChange($event)"
                    (aiTableInitialized)="aiTableInitialized($event)"
                ></ai-table-grid>
            }
            @case (2) {
                <ai-table-dom-grid
                    [(aiRecords)]="tableService.records"
                    [(aiFields)]="tableService.fields"
                    [aiFieldConfig]="aiFieldConfig"
                    [aiPlugins]="plugins"
                    [aiReferences]="references()"
                    (onChange)="onChange($event)"
                    (aiTableInitialized)="aiTableInitialized($event)"
                ></ai-table-dom-grid>
            }
        }
    </div>
}
