.table-container {
    display: block;
    margin: 0 20px;
    margin-bottom: 0;
    overflow-x: auto;
    height: calc(100vh - 20px);

    .thy-nav-list {
        flex: none;
    }
    .thy-nav-item {
        display: flex;
        align-items: center;
    }
    .thy-tab-content {
        // 155 视图 tab 的高度
        height: calc(100vh - 155px);
        .table-content {
            // 44 是操作列的高度
            height: calc(100% - 44px);
        }
    }
}
