<thy-menu class="menu">
    <a thyMenuItem href="javascript:;" [routerLink]="['/overall']" routerLinkActive="active"> Overall </a>
    <a thyMenuItem href="javascript:;" [routerLink]="['/basic']" routerLinkActive="active"> Basic </a>
    <a thyMenuItem href="javascript:;" [routerLink]="['/editable']" routerLinkActive="active"> Editable </a>
    <a thyMenuItem href="javascript:;" [routerLink]="['/field-menu']" routerLinkActive="active"> Field Menu </a>
    <a thyMenuItem href="javascript:;" [routerLink]="['/custom-field']" routerLinkActive="active"> Custom Field </a>
    <a thyMenuItem href="javascript:;" [routerLink]="['/view']" routerLinkActive="active"> View </a>
    <a class="ml-4" thyMenuItem href="javascript:;" [routerLink]="['/group']" routerLinkActive="active"> Group </a>
    <a class="ml-4" thyMenuItem href="javascript:;" [routerLink]="['/filter']" routerLinkActive="active"> Filter </a>
    <a class="ml-4" thyMenuItem href="javascript:;" [routerLink]="['/sort-records']" routerLinkActive="active"> Sort Records</a>
    <a class="ml-4" thyMenuItem href="javascript:;" [routerLink]="['/record-height']" routerLinkActive="active"> Record Height </a>
</thy-menu>
<div cdkScrollable class="table-container">
    <router-outlet></router-outlet>
</div>
