.date-time-cell-editor {
    .thy-calendar-picker {
        height: 100%;
    }
}

.text-cell-editor {
    display: block;

    textarea {
        padding: 0.55rem 0.75rem;
        min-height: 44px;
        border-width: 2px;
        resize: none;
    }
}

.number-cell-editor {
    .thy-input-number{
        .input-number-input {
            border-width: 2px;
        }
    }
   
}
