@use 'ngx-tethys/styles/variables.scss';
@use './cell-editor.variables.scss' as cellEditorVariables;
@use './link/link-editor.component.scss';

.grid-cell-editor {
    border: 2px solid variables.$primary;
    &:has(.text-cell-editor) {
        border: none;
        .form-control {
            // 特殊处理文本框border在输入框上
            border: 2px solid variables.$primary;
        }
    }
    .thy-popover-container {
        box-shadow: none;
        border: none;
        border-radius: 0;
    }
    &.thy-popover-panel {
        padding: 0;
    }
    .form-control {
        border: none;
        min-height: 45px;
        height: 100%; // 默认输入框高度 100%
        border-radius: 0;
        padding-top: cellEditorVariables.$cell-editor-padding-top;
        padding-bottom: cellEditorVariables.$cell-editor-padding-top;
        padding-left: cellEditorVariables.$cell-editor-padding-left;
    }
}

.text-cell-editor {
    display: block;
    textarea {
        line-height: 24px;
        resize: none;
        scrollbar-width: none;
        overflow-y: scroll;
        border-radius: 0;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

.select-cell-editor {
    .thy-select-custom:focus .form-control-custom:not(.disabled) {
        border: none;
        outline: none;
    }
    .thy-select {
        height: 100%; // 控制弹出的option位置
        .select-control-multiple .select-option {
            font-size: variables.$font-size-sm;
        }
        .select-control-arrow,
        .select-control-clear {
            top: cellEditorVariables.$cell-editor-padding-top;
            transform: none;
        }
    }
}

.number-cell-editor {
    .thy-input-number {
        .input-number-handler-wrap {
            height: calc(100% - 4px);
            top: 2px;
            right: 2px;
        }
        .form-control {
            height: 45px; // 控制输入框显示在上方
        }
    }
}

.date-cell-editor {
    thy-picker {
        display: block;
        height: 100%; // 控制弹出的picker位置
        .thy-calendar-picker {
            height: 100%; // 控制弹出的picker位置
        }
        .form-control {
            height: 45px; // 控制日期显示在上方
        }
        .thy-calendar-picker-icon,
        .thy-calendar-picker-clear {
            top: cellEditorVariables.$cell-editor-padding-top + 6;
            transform: none;
        }
    }
}

.ai-table-link-editor {
    .thy-input-group {
        align-items: start;
        .form-control {
            height: 45px; // 控制输入框显示在上方
        }
        .input-group-suffix {
            margin-top: cellEditorVariables.$cell-editor-padding-top;
        }
    }
}
