@use 'ngx-tethys/styles/variables.scss';
@use '../cell-editor.variables.scss' as cellEditorVariables;

.progress-editor {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 cellEditorVariables.$cell-editor-padding-left;
    // canvas 渲染差异：和 canvas 比进度条偏上
    margin-top: 0.5px;

    .thy-slider {
        flex: 1;
        padding: 2px 0;
    }
    .progress-text {
        display: inline-block;
        width: 38px;
        margin-left: 8px;
        white-space: nowrap;
        font-size: 0.875rem;
        font-weight: normal;
        position: relative;
        // canvas 渲染差异：和 canvas 比文本偏下
        top: -1px;
        line-height: 24px;
    }
}
