.ai-table-field-setting-panel {
    height: auto;
    max-height: 80vh;
    .thy-popover-container {
        overflow-y: auto;
    }
}

.ai-table-field-type-menu {
    max-height: 296px;
    overflow-y: auto;
}
